/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, sass/screen.sass */
body {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: helvetica, arial, sans-serif;
  color: #333333;
}

/* line 15, sass/screen.sass */
#header h1 {
  font-size: 36px;
  color: black;
  padding-bottom: 5px;
  border-bottom: 3px solid #666666;
}

/* line 21, sass/screen.sass */
#options {
  float: right;
  color: #333333;
  font-weight: bold;
}
/* line 25, sass/screen.sass */
#options span {
  border-bottom: 2px solid #666666;
}
/* line 27, sass/screen.sass */
#options a {
  color: #999999;
  text-decoration: none;
}
/* line 30, sass/screen.sass */
#options a:hover {
  color: black;
}

/* line 35, sass/screen.sass */
#content h1 {
  margin-bottom: 0px;
}
/* line 37, sass/screen.sass */
#content h1 span {
  font-size: 12px;
  text-transform: uppercase;
  padding: 2px;
  position: relative;
  top: -4px;
}
/* line 43, sass/screen.sass */
#content h1 span.done {
  background-color: yellow;
}
/* line 45, sass/screen.sass */
#content h1 span.overdue {
  background-color: red;
  color: white;
}
/* line 48, sass/screen.sass */
#content h1 span.behind {
  background-color: orange;
  color: white;
}
/* line 51, sass/screen.sass */
#content h2 {
  color: #cccccc;
  margin-top: 0px;
}

/* line 55, sass/screen.sass */
#footer {
  margin-top: 40px;
  color: #aaaaaa;
  text-transform: uppercase;
}
